$color_button: #c4dbec;
$color_login: #fcc929;
$color_delete: #0164ac;
$color_font: #707070;
$color_white: white;


$color_product: #fce69b;
$color_background: #fafafa;
$color_button_active: #17b7e6;



//fonts
$font_main:'Montserrat', sans-serif;

$font_size_main: 40px;
$font_size_buttons: 35px;
$font_size_sum: 30px;
$font_size_products: 22px;
$font_size_desc: 18px;

$font-weight: 600;
$font_weight_products: 500;


//height && width
$height_header: 15vh;
$height_content: 85vh;